# ===== Backend · Producción (copia a .env.production) =====

PORT=4000
NODE_ENV=production
CORS_ORIGIN=https://intranet.atleticopalmadelrio.es

DB_HOST=mysql-prod
DB_PORT=3306
DB_NAME=atletico_palma_intranet
DB_USER=apr_user
DB_PASSWORD=cambia_esta_password_produccion

JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_en_produccion
JWT_EXPIRES_IN=4h
AES_SECRET_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
BCRYPT_SALT_ROUNDS=12

SEED_ON_START=true
SEED_ADMIN_USER=admin
SEED_ADMIN_PASSWORD=Admin#2026
